$space: 30px;
$space_mobile: 15px;
$media: 599px;


.cart-sidebar-open {
	.updating-cart {
        #shop-cart-sidebar {
            &:after {
                @include duration(0s);
            }
        }
    }
}

.updating-cart {
    &.cart-sidebar-open {
        #shop-cart-sidebar {
            &:after {
                @include duration(0s);
            }
        }
    }

    #shop-cart-sidebar {
    	@extend .circle-loading;

        &:before {
        	@include animation( 0.4s circle-loading linear infinite );
            top: calc( 50% + 20px ); /* 20px = spinner size */
            z-index: 3;
            border-width: 2px;
        }

        &:after {
            opacity: 1;
            visibility: visible;
        }
    }
}
.cart-sidebar-open {
	overflow: hidden;

	#view{
		@include translatex( -400px );
		@media ( max-width: $media ) {
			@include translatex( -290px );
		}
	}

    &.cart-updated {
        #shop-cart-sidebar {
            &:before {
                content: none $i;
            }

            &:after {
                opacity: 0;
                visibility: hidden;
                pointer-events: none;
            }
        }
    }

    #shop-cart-sidebar {
        visibility: visible;
        pointer-events: auto;
        @include translatex( 0 );
    }

    #woostify-overlay {
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
    }
}
#shop-cart-sidebar {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 200;
    width: 400px;
	padding: 0 30px 30px;
    background: #fff;
    visibility: hidden;
    pointer-events: none;
    @include translatex( 100% );
    @include transition( all 0.3s );

    @media ( max-width: $media ){
    	width: 290px;
    	padding: 0 $space_mobile $space_mobile;
    }

    .logged-in.admin-bar & {
        top: 46px;
        @media (min-width: 783px) {
            top: 32px;
        }
    }

    &:after {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        background: $inh;
        z-index: 2;
        opacity: 0;
        visibility: hidden;
        @extend .duration;
    }

    ul{
    	margin: 0;
    }
}

.shop-cart-count{
	padding: 0 5px;
	height: 18px;
	color: #fff;
	font-size: 12px;
	font-weight: 700;
	border-radius: 8px;
	min-width: 18px;
	pointer-events: none;
	@extend .inline-flex;
}

/* SIDEBAR HEAD */
.cart-sidebar-head {
    border-bottom: 1px solid #ddd;
    padding: $space 0;
    position: relative;
    z-index: 3;
    height: 80px;
    background-color: $inh;
    @include flex(flex, flex-start, center);

    @media ( max-width: $media ) {
    	height: 60px;
    	padding: $space_mobile 0;
    }

    .shop-cart-count {
        margin-left: 10px;
    }
}
.cart-sidebar-title {
    margin: 0;
    display: inline-block;
    text-transform: uppercase;
    font-weight: normal;
    font-size: 13px;
    white-space: nowrap;
}
#close-cart-sidebar-btn {
    border: 0;
    background: none;
    position: absolute;
    right: 0;
    top: 50%;
    width: 30px;
    height: 30px;
    font-weight: 700;
    @extend .duration;
    @extend .flex;
    @include transforms(translatey(-50%) rotate(0deg));

    &:hover {
        @include transforms(translatey(-50%) rotate(90deg));
        color: firebrick;
    }
}

/* SIDEBAR CONTENT */
.cart-sidebar-content {
    overflow-y: auto;
    overflow-x: hidden;
    @include calc(height, '100% - 210px');

    @media ( max-width: $media ) {
        @include calc(height, '100% - 160px');
    }

    .woocommerce-mini-cart__total {
        position: absolute;
        margin-bottom: 0;
        bottom: 120px;
        background-color: #fff;
        height: 40px;
        border-top: 1px solid #ddd;
        left: $space;
        right: $space;
        align-items: flex-end;

        @media ( max-width: $media ) {
	        right: $space_mobile;
	        left: $space_mobile;
	        bottom: 85px;
	        height: 30px;
        }
    }

    .woocommerce-mini-cart__buttons {
        margin-bottom: 0;
        position: absolute;
        bottom: $space;
        right: $space;
        left: $space;

        @media ( max-width: $media ) {
        	bottom: $space_mobile;
	        right: $space_mobile;
	        left: $space_mobile;
        }

        a {
            padding: 0 $i;
            display: block;
            width: auto;
            border-left: 0;

            &:not(.checkout){
            	background-color: #fff;
            	height: 40px;
            	@extend .flex;

            	@media ( max-width: $media ) {
            		height: 30px;
            	}
            }

            &.checkout{
            	height: 50px;
            	@extend .flex;

            	@media ( max-width: $media ) {
            		height: 40px;
            	}
            }
        }
    }

    .woocommerce-mini-cart__empty-message {
        margin-bottom: 0;
        padding: $space 0;
    }

    .product_list_widget.woocommerce-mini-cart{
    	li{
    		padding: $space $space $space 0;
    		@extend .clearfix;

    		@media ( max-width: $media ) {
    			padding: $space_mobile $space_mobile $space_mobile 0;
    		}
    	}
    	img{
    		max-width: 75px;
    		max-height: 75px;
    		object-fit: cover;
    		position: static;
    		float: left;
    		margin-right: 20px;

    		@media ( max-width: $media ) {
    			max-width: 60px;
    			max-height: 60px;
    			margin-right: $space_mobile;
    		}
    	}
    }

    .variation {
        margin: 5px 0;
        font-size: 13px;
        @extend .clearfix;

        dt,
        dd {
            float: left;
            line-height: 18px;
        }

        dt {
            font-weight: normal;
            clear: both;
            margin-right: 5px;
        }

        dd {
            margin: 0;
            p:last-child {
                margin-bottom: 0;
            }
        }

        +.quantity{
        	clear: both;
        	display: block;
        }
    }

    .quantity {
        font-size: 13px;
    }

}

/* CART ITEM */
.cart-sidebar-content{
	.mini_cart_item{
		padding-left: 95px;

		&:hover{
			.remove_from_cart_button{
				opacity: 1;
				@include transforms( translateY( -50% ) translateX( 0px ) rotate( 0deg ) );
			}
		}

		/* Fix issue not showing on IE */
		&:focus-within{
			.remove_from_cart_button{
				opacity: 1;
				@include transforms( translateY( -50% ) translateX( 0px ) rotate( 0deg ) );
			}
		}

		@media ( max-width: $screen-md - 1 ) {
			.remove_from_cart_button{
				opacity: 1;
				@include transforms( translateY( -50% ) translateX( 0px ) rotate( 0deg ) );
			}
		}
	}

	.remove_from_cart_button {
		opacity: 0;
		right: 0;
		top: 50%;
        @include transforms( translateY( -50% ) translateX( 10px ) rotate( 0deg ) );

        &:focus {
            &:before{
            	@include animation( 0.5s circle-loading linear infinite );
            }
        }
    }
}

/* OVERLAY */
#woostify-overlay {
    position: fixed;
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
    z-index: 199;
    background: rgba(0, 0, 0, 0.5);
    pointer-events: none;
    opacity: 0;
    visibility: hidden;
    @extend .duration;
}


/* RESPONSIVE */

@media ( min-width: 600px ) and ( max-width: $screen-md - 1 ) {
	.cart-sidebar-open{
		#view{
			@include translatex( -50% );
		}
	}

	#shop-cart-sidebar{
		width: 50%;
	}
}
