.products {
    clear: both;
    padding-left: 0;
    margin: 0;

    @extend .clearfix;

    .product {
        list-style: none;
        float: left;
        margin: 0 30px 56px 0;
        position: relative;
        text-align: center;

        @media ( min-width: #{ $screen-ios } ) and ( max-width: #{ $screen-md - 1 } ) {
	        width: calc( ( 100% - 30px ) / 2 );

	        &:nth-of-type( 2n ) {
	            margin-right: 0;
	        }

	        &:nth-of-type( 2n + 3 ) {
	            clear: both;
	        }
	    }

	    @media ( max-width: #{ $screen-ios - 1 } ) {
	        width: 100%;
	        clear: both;
	    }
    }

    &.columns-1 {
        .product{
            width: 100%;
            margin-right: 0;
        }
    }

    
    @for $i from 2 through 6 {
        &.columns-#{ $i } {
            .product{
            	@media ( min-width: $screen-md ) {
                    width: calc( ( 100% - #{ 30px * ( $i - 1 ) } ) / #{ $i } );

                    &:nth-of-type( #{ $i }n ) {
                    	margin-right: 0;
                    }
                    
                    &:nth-of-type( #{ $i }n + #{ $i + 1 } ) {
                        clear: both;
                    }
                }
            }
        }
    }
}