/* hidden product meta */
.hid{
	&-skus{
		.product_meta{
			.sku_wrapper{
				display: none;
			}
		}
	}
	&-categories{
		.product_meta{
			.posted_in{
				display: none;
			}
		}
	}
	&-tags{
		.product_meta{
			.tagged_as{
				display: none;
			}
		}
	}
}

/* Constainer */
.site-full-width-container {
	.woocommerce-tabs {
		.woocommerce-Tabs-panel {
			max-width: 100%;
		}
	}
}

.product-page-container {
	padding-bottom: 90px;
}

.single-product{
	#content{
		>.woostify-container{
			width: auto;
			padding: 0;
		}
	}
	.content-top{
		padding-top: 35px;
		.woocommerce{
			@extend .container;
		}
		@media ( max-width: $screen-md - 1 ) {
			padding-bottom: 35px;
		}
	}
	.summary {
		.star-rating{
			vertical-align: text-top;
			margin-right: 7px;
		}
		.yith-wcwl-add-to-wishlist{
			display: block;
			margin: 20px 0;
		}
	}
	@media ( max-width: $screen-md - 1 ) {
		.wc-breadcrumb{
			text-align: center;
			padding-bottom: 0;
		}
	}
}

/* SIDEBAR */

.single-product {
	&:not(.site-full-width-container) {
		&.left-sidebar,
		&.right-sidebar {
			.site-content {
				@extend .container;
			}
			.site-main {
				.container {
					width: 100%;
				}
			}
		}
	}
}

/* ONSALE */

.has-gallery-layout-vertical {
	.product-page-container {
		.onsale {
			@media ( min-width: $screen-md ) {
				left: 80px;
			}
		}
	}
}

/* GALLERY */

.product-gallery {
	position: relative;
	float: left;
	max-width: 100%;
	@media ( min-width: $screen-md) {
		width: calc( ( 100% - 30px) / 2);
	}
}

.product-thumbnail-images{
	.tns-controls{
		[data-controls]{
			width: 30px;
			height: 30px;
		}
	}
}
.has-gallery-layout-vertical{
	.product-thumbnail-images{
		.tns-controls{
			@media ( min-width: $screen-md ) {
				[data-controls]{
					top: auto;
					left: 50%;
					@include transforms( translateX( -50% ) translateY( 0 ) rotate( 90deg ) );
				}
				[data-controls="prev"]{
					top: 0;
				}
				[data-controls="next"]{
					bottom: 0;
					right: auto;
				}
			}
		}
	}
}

/* product images */

.product-images {
	order: 2;
	overflow: hidden;
	.image-item {
		margin: 0;
		cursor: pointer;
	}
}

/* product thumbnail images */
.has-gallery-layout-vertical{
	@media ( min-width: $screen-sm ) {
		.product-gallery{
			display: flex;
		}
		.product-thumbnail-images {
			width: 50px;
			min-width: 50px;
			margin-right: 20px;
		}
	}
}
.has-gallery-layout-horizontal{
	.product-images{
		margin-bottom: 20px;
	}
}
.product-thumbnail-images {
	.thumbnail-item {
		cursor: pointer;
		position: relative;
	}
	img{
		border: 1px solid $tr;
	}
	.tns-nav-active {
		img{
			border-color: #555555;
		}
	}
}

/* spinner gallery */

[class*="has-gallery-layout"] {
	#product-images {
		&:not(.tns-slider) {
			.image-item {
				&:first-of-type {
					@extend .circle-loading;
					img {
						opacity: 0;
					}
					~ .image-item {
						display: none;
					}
				}
			}
		}
	}
	#product-thumbnail-images {
		&:not(.tns-slider) {
			.thumbnail-item {
				&:first-of-type {
					@extend .circle-loading;
					img {
						opacity: 0;
					}
					~ .thumbnail-item {
						display: none;
					}
				}
			}
		}
	}
}

/* image loading */
.image-loading{
	position: relative;

	@extend .circle-loading;
}

/* SUMMARY */

.summary.entry-summary {
	float: left;
	max-width: 100%;
	@media ( min-width: $screen-md) {
		width: calc( ( 100% - 30px) / 2);
		margin-left: 30px;
	}
	.price {
		font-size: 24px;
		margin-bottom: 18px;
	}
}

.woocommerce-product-rating {
	margin-bottom: 15px;
}

.woocommerce-product-details__short-description {
	border-left: 0;
	border-right: 0;
	padding: 35px 0;
	p {
		&:last-child {
			margin-bottom: 0;
		}
	}
	+ .cart {
		margin-top: 20px;
	}
}

// Group product.
.woocommerce-grouped-product-list {
	border: 0;
	margin-top: 0;
	td {
		border-left: 0;
		border-right: 0;
		padding-left: 0;
		padding-right: 0;
	}
	ins {
		background-color: $tr;
	}
}

// table variations.
.variations {
	border: 0;
	margin-bottom: 40px;
	td {
		border: 0;
		padding: 2px 0;
		vertical-align: top;
		@media ( max-width: $screen-sm - 1 ) {
			display: block;
			clear: both;

			@at-root .variations tr+tr{
				margin-top: 15px;
				display: block;
			}
		}
	}
	select {
		display: block;
		clear: both;
		height: 40px;
		min-width: 170px;
		background-color: #fff;
	}
	label {
		text-transform: uppercase;
	}
	.label{
		width: 30%;
	}
}

.single_variation{
	margin-bottom: 40px;
}

.reset_variations {
	float: left;
	margin-top: 0px;
	display: none;
	height: 0;
	@include duration(0s);

	&[style*="visibility: visible"] {
		height: auto;
		margin-top: 5px;
	}
}

.shop_table {
	.variation {
		margin: 0;
		dt,
		dd {
			display: inline-block;
			font-weight: normal;
		}
		dd {
			margin-bottom: 0;
		}
		p {
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
}

.stock {
	margin-top: 10px;
}

.product_title {
	font-size: 24px;
	margin-top: 0;
	font-weight: normal;
	margin-bottom: 10px;
}

.cart {
	.quantity {
		margin-right: 8px;

		@media ( max-width: 600px ) {
			width: 90px;
			min-width: 90px;
		}
	}
}

.woocommerce-variation-price {
	margin-bottom: 10px;
}

.quantity {
	width: 170px;
	height: 50px;
	position: relative;
	overflow: hidden;
	background: #fff;
	@extend .inline-flex;
	.qty {
		text-align: center;
		border: 0;
		font-size: 16px;
		background-color: $tr;
		flex-grow: 1;
		padding: 0 40px;
		-moz-appearance: textfield;
		&::-webkit-inner-spin-button,
		&::-webkit-outer-spin-button {
			-webkit-appearance: none;
		}

		@media ( max-width: 600px ) {
			padding: 0 30px;
		}
	}
	.product-qty {
		position: absolute;
		font-family: $icon;
		cursor: pointer;
		width: 40px;
		top: 0;
		bottom: 0;
		@extend .flex;

		&:active,
		&:hover{
			color: #000;
		}

		@media ( max-width: 600px ) {
			width: 30px;
		}
	}
	[data-qty="minus"] {
		left: 0;
		&:before {
			content: "\e622"
		}
	}
	[data-qty="plus"] {
		right: 0;
		&:before {
			content: "\e61a"
		}
	}
}
.woocommerce-variation-add-to-cart{
	display: flex;
	flex-wrap: wrap;
}

.single_add_to_cart_button {
	position: relative;
	@extend .inline-flex;

	@media ( max-width: 600px ) {
		flex-grow: 1;
	}

	&.button {
		min-width: 200px;
		height: 50px;
		font-weight: 600;
		text-transform: uppercase;
		vertical-align: top;
		padding-top: 0;
		padding-bottom: 0;

		@media ( max-width: 600px ) {
			min-width: auto;
		}
	}
}

.product_meta {
	margin-top: 20px;
	> span {
		display: block;
	}
}

/* TABS */

.woocommerce-tabs {
	display: block;
	clear: both;
	padding-top: 54px;
	border-bottom: 1px solid #efefef;
	padding-bottom: 50px;
	.tabs {
		margin: 0;
		padding-left: 0;
		text-align: center;
		li {
			list-style: none;
			display: inline-block;
			margin: 0 30px;
		}
		a {
			font-size: 18px;
		}
	}
	.woocommerce-Tabs-panel {
		padding: 23px 0;
		max-width: 770px;
		margin: 0 auto;
		display: none;
		> h2 {
			display: none;
		}
		table {
			margin: 0;
		}
		p {
			&:last-child {
				margin-bottom: 0;
			}
		}
	} // comment reviews.
	#reply-title {
		display: none;
	}
	#comments {
		border-top: 0;
		padding-top: 0;
		margin-top: 0;
	}
	.woocommerce-Reviews-title {
		display: none;
	}
	.commentlist {
		padding-left: 0;
		margin: 0;
		li{
			list-style: none;
			+li{
				margin-top: 30px;
			}
		}
	}
	.comment {
		margin-bottom: 40px;
	}
	.comment_container {
		display: flex;
		justify-content: flex-start;
		.avatar {
			border-radius: 50%;
			margin-right: 30px;
			min-width: 60px;
			width: 60px;
			height: 60px;
		}
		.comment-text {
			flex-grow: 1;
		}
		.meta {
			margin-left: 10px;
			margin-bottom: 0;
			display: inline-block;
			height: 16px;
			line-height: 16px;
			vertical-align: text-top;
		}
	}
	.comment-notes {
		width: 100%;
	}
	.comment-form {
		> p {
			width: 100%;
			margin-bottom: 0;
		}
		input {
			&:not([type="submit"]) {
				width: 100%;
			}
		}
		textarea {
			width: 100%;
		}
	}
}

/* RELATED && UPSELL */

.related,
.up-sells {
	> h2 {
		text-align: center;
		font-size: 18px;
		font-weight: normal;
		padding: 25px 0;
	}
}

/* RESPONSIVE */

@media ( max-width: $screen-md - 1 ) {
	.summary.entry-summary {
		margin-top: 50px;
		width: 100%;
	}

	.single-product{
		.content-top{
			padding-top: 0;
		}
		.woostify-breadcrumb{
			display: none;
		}
	}
}

@media ( max-width: $screen-sm - 1 ) {
	.product-gallery {
		display: block;
	}
	.product-thumbnail-images {
		margin-top: 20px;
		.thumbnail-item {
			margin-right: 10px;
		}
	}
}
