/* woocommerce header title */
.woocommerce-products-header__title{
	font-size: 1.7em;
	margin-top: 0.3em;
	margin-bottom: 1.5em;
	font-weight: normal;
}

/* woocommerce sidebar mobile */
.sidebar-mobile-open{
	overflow: hidden;
	#woostify-overlay{
		opacity: 1;
		visibility: visible;
		pointer-events: auto;
		&:after{
			content: "\e646";
			font-family: $icon;
			position: absolute;
			top: 20px;
			right: 20px;
			width: 30px;
			height: 30px;
			display: flex;
			justify-content: center;
			align-items: center;
			cursor: pointer;
			color: #fff;
			font-weight: 700;
			font-size: 1.5em;
		}
	}
}
.sidebar-mobile-open {
	.logged-in.admin-bar{
		#woostify-overlay{
			&:after{
				top: 66px;
			}
			@media ( min-width: 783px ) {
				&:after{
					top: 52px;
				}
			}
		}
	}
}
@media ( max-width: $screen-md - 1 ) {
	.shop-widget {
		margin-top: 0 $i;
		position: fixed;
		left: 0;
		bottom: 0;
		top: 0;
		width: 100%;
		background-color: #fff;
		padding: 15px;
		max-width: 280px;
		z-index: 200;
		overflow-y: auto;
		opacity: 0;
		visibility: hidden;
		@include translatex( -100% );
		@include duration( 0.2s );
		.logged-in.admin-bar &{
			top: 46px;
			@media ( min-width: 783px ) {
				top: 32px;
			}
		}
		&.active{
			opacity: 1;
			visibility: visible;
			@include translatex( 0 );
		}
	}
}
#toggle-sidebar-mobile-button{
	background-color: $tr;
	padding: 11px 15px;
	border-radius: 2px;
	@extend .duration;
	&.active{
		@include translatex( -20px );
		opacity: 0;
		visibility: hidden;
	}
	&:before{
		margin-right: 7px;
	}
	@media ( min-width: $screen-md ) {
		display: none;
	}
	@media ( max-width: $screen-sm - 1 ) {
		margin-bottom: 15px;
	}
}

/* sorting */
.woocommerce-notices-wrapper{
	display: block;
	clear: both;
	.woocommerce-message{
		margin-top: 30px;
	}
}
.woostify-sorting{
	@include flex( flex, space-between, center );
	flex-wrap: wrap;
	margin-bottom: 42px;

	@media ( max-width: $screen-sm - 1 ) {
		justify-content: center;
		flex-direction: column;
	}

	.woocommerce-notices-wrapper{
		flex: 0 0 100%;
		margin-bottom: 20px;

		&:empty{
			display: none;
		}
	}

	.woocommerce-ordering{
		order: 2;
		position: relative;
		border: 1px solid #ddd;
		border-radius: 2px;
		padding: 5px 15px;
		&:after{
			content: "\e64b";
			position: absolute;
			right: 5px;
			font-family: $icon;
			pointer-events: none;
			font-size: 10px;
			top: 50%;
			@include translatey( -50% );
		}
	}
	.orderby{
		border: 0;
		background-color: $tr;
		-moz-appearance: none;
		-webkit-appearance: none;
	}

	.woocommerce-result-count{
		margin-bottom: 0;
		@media ( max-width: $screen-sm - 1 ) {
			display: none;
		}
	}
}

/* product loop category */
.woocommerce-loop-product__category{
	line-height: 1.5em;
}

/* product loop title */
.woocommerce-loop-product__title{
	font-weight: normal;
	margin: 5px 0;
}

/* pagination */
.woocommerce-pagination{
	text-align: center;
	@extend .pagination;
}

/* price */
.price,
.product_list_widget{
	mark,
	ins{
		background-color: $tr;
	}
	del{
		+ins{
			margin-left: 3px;
		}
	}
}

/* flas sale */
.onsale{
	position: absolute;
	left: 10px;
	top: 10px;
	pointer-events: none;
	color: #fff;
	padding: 0 5px;
	font-size: 12px;
	z-index: 2;
	line-height: 1.7em;
}

/* message */
.woostify-container{
	.woocommerce{
		ul{
			list-style: none;
		}
	}
}
.woocommerce-message,
.woocommerce-error,
.woocommerce-info{
	padding: 15px;
	color: #fff;
	border-radius: 4px;
	margin-bottom: 20px;
	@include flex( flex, space-between, center );
	a{
		order: 2;
		color: #fff;
		line-height: 1;
		border: 1px solid #fff;
		padding: 10px;
		border-radius: 4px;
		&:hover{
			color: #fff;
		}
		&:before{
			content: "\e71b";
			font-family: $icon;
			margin-right: 10px;
		}
	}
}
.woocommerce-message{
	@media ( max-width: 600px ) {
		flex-direction: column;
		align-items: flex-start;
		a{
			margin-top: 15px;
		}
	}
}
.woocommerce-error{
	background-color: firebrick;
	flex-direction: column;
	align-items: flex-start;
	li{
		width: 100%;
		a{
			float: right;
		}
		@media ( max-width: 600px ) {
			display: flex;
			flex-wrap: wrap;
			a{
				float: none;
				flex: 0 0 100%;
				margin-top: 15px;
			}
		}
	}
}

/* checkout toggle login form */
.woocommerce-form-login-toggle{
	.woocommerce-info{
		margin-bottom: 0;
		background-color: $tr;
		display: block;
		padding: 0;
		a{
			color: #f00;
			padding: 0;
			&:before{
				content: none
			}
		}
	}
}

/* table */
.shop_table{
	ul{
		padding-left: 0;
	}

	li{
		list-style: none;
	}
}
.shop_table_responsive{
	@media ( max-width: 600px ) {
		th{
			display: none;
		}
		tr{
			&:last-of-type{
				td{
					border-bottom: 0;
				}
			}
		}
		td{
			display: block;
			border-right: 0;
			&:not(.product-remove) {
				text-align: right $i;
			}
			&:before{
				float: left;
				font-weight: bold;
				content: attr(data-title)
			}
		}
		#shipping_method{
			margin-top: 0;
		}
	}
}

/* remove overlay woocommerce */
.blockUI.blockOverlay {
    background-color: $tr $i;
}

/* store notice */
.scrolling-down{
	&.woocommerce-demo-store{
		.woocommerce-store-notice{
			visibility: visible;
			opacity: 1;
			@include translatey( 0 );
		}
	}

	#scroll-to-top{
		bottom: 60px;
	}
}
.woocommerce-store-notice{
	margin-bottom: 0;
	padding: 10px 15px;
	color: #fff;
	flex-grow: 1;
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	visibility: hidden;
	opacity: 0;
	z-index: 501; // higher Sticky Button on Mobile feature.
	@include translatey( 100% );
	@extend .duration;
	&:before{
		content: "\e717";
		font-family: $icon;
		margin-right: 7px;
	}
	a{
		position: absolute;
		top: 0;
		bottom: 0;
		right: 0;
		padding: 0 20px;
		min-width: 120px;
		color: #fff;
		background-color: rgba( 255,255,255,0.1 );
		@extend .flex;
		&:before{
			content: "\e646";
			font-family: $icon;
			margin-right: 10px;
			@extend .duration;
		}
		&:hover{
			color: #fff;
			&:before{
				@include rotate( 90 );
			}
		}

		@media ( max-width: $screen-md - 1 ) {
			position: static;
			background-color: $tr;
			padding: 0;
			display: inline;
			text-decoration: underline;
			margin-left: 7px;
			&:before{
				content: none;
			}
		}
	}
}

/* cart empty || errors */
.button.wc-backward{
	margin-top: 20px;
	display: inline-block;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
}

/* Product loop action */
/* Variables */
$icon_size: 40px;
.product-loop-action {
	.button{
		padding: 0;
		border-radius: 0;
	}
	.yith-wcwl-add-to-wishlist {
		margin-top: 0;
		.feedback {
			display: none;
		}
		a {
			font-size: 0;
			position: relative;
			&:before {
				font-size: 14px;
				font-family: 'themify';
			}
		}
	}
	.yith-wcwl-add-button {
		a {
			&:before {
				content: "\e634"
			}
		}
	}
	.yith-wcwl-wishlistaddedbrowse {
		a {
			&:before {
				content: "\e64c"
			}
		}
	}
	.yith-wcwl-wishlistexistsbrowse {
		a {
			&:before {
				content: "\e634";
			}
		}
	}
	.loading{
		position: relative;
		&:before{
			@include loading( $size: 14px, $center: true, $important: !important );
		}
	}
	.clear {
		display: none;
	}
	img {
		display: none;
	}
}

/* Layout 1 */
.ps-layout-1 {
	.product-loop-action {
		position: absolute;
		right: 0;
		top: 0;
		z-index: 2;
		@extend .duration;
		@media ( min-width: $screen-md ) {
			opacity: 0;
			@include translatey( -100% );
		}
		/* Add to wishlist btn */
		.yith-wcwl-add-to-wishlist {
			a {
				width: $icon_size;
				height: $icon_size;
				@extend .flex;
			}
		}
	}
	/* Quickview btn */
	.product-quick-view-btn {
		height: $icon_size;
		width: $icon_size;
		background-color: #fff;
		@extend .flex;
		+.yith-wcwl-add-to-wishlist{
			margin-top: 1px;
		}
	}

	.products{
		.product{
			&:hover{
				.product-loop-action{
					@include translatey( 0 );
					opacity: 1;
				}
			}
			/* Fix issue not showing on IE */
			&:focus-within{
				.product-loop-action{
					@include translatey( 0 );
					opacity: 1;
				}
			}
		}
	}
}
