.tns-outer {
	position: relative;
}

.tns-outer [hidden] {
	display: none !important;
}

.tns-outer.ms-touch {
	overflow-x: scroll;
	overflow-y: hidden;
	-ms-overflow-style: none;
	-ms-scroll-chaining: none;
	-ms-scroll-snap-type: mandatory;
	-ms-scroll-snap-points-x: snapInterval(0%, 100%)
}

.tns-slider {
	-webkit-transition: all 0s;
	-moz-transition: all 0s;
	transition: all 0s
}

.tns{
	&:not(.tns-slider){
		@extend .circle-loading;
		.tnsi,
		.product{
			&:first-of-type{
				opacity: 0;
				visibility: hidden;
			}
			~.tnsi,
			~.product{
				display: none;
			}
		}
	}
}

.tns-slider > .tns-item {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box
}

.tns-horizontal.tns-subpixel {
	white-space: nowrap
}

.tns-horizontal.tns-subpixel > .tns-item {
	display: inline-block;
	vertical-align: top;
	white-space: normal
}

.tns-horizontal.tns-no-subpixel:after {
	content: '';
	display: table;
	clear: both
}

.tns-horizontal.tns-no-subpixel > .tns-item {
	float: left;
	margin-right: -100%
}

.tns-no-calc {
	position: relative;
	left: 0
}

.tns-gallery {
	position: relative;
	left: 0;
	min-height: 1px
}

.tns-gallery > .tns-item {
	position: absolute;
	left: -100%;
	-webkit-transition: transform 0s, opacity 0s;
	-moz-transition: transform 0s, opacity 0s;
	transition: transform 0s, opacity 0s
}

.tns-gallery > .tns-moving {
	-webkit-transition: all 0.25s;
	-moz-transition: all 0.25s;
	transition: all 0.25s
}

.tns-lazy-img {
	-webkit-transition: opacity 0.6s;
	-moz-transition: opacity 0.6s;
	transition: opacity 0.6s;
	opacity: 0.6
}

.tns-lazy-img.loaded {
	opacity: 1
}

.tns-ah {
	-webkit-transition: height 0s;
	-moz-transition: height 0s;
	transition: height 0s
}

.tns-ovh {
	overflow: hidden
}

.tns-hdx {
	overflow-x: hidden
}

.tns-hdy {
	overflow-y: hidden
}

.tns-visually-hidden,
.tns-outer button[data-action] {
	display: none;
}

.tns-transparent {
	opacity: 0;
	visibility: hidden
}

.tns-fadeIn {
	opacity: 1;
	filter: alpha(opacity=100);
	z-index: 0
}

.tns-normal,
.tns-fadeOut {
	opacity: 0;
	filter: alpha(opacity=0);
	z-index: -1
}

/* arrows */
.tns-controls [data-controls] {
	position: absolute;
	top: 50%;
	background: #fff;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	color: #aaa;
	border: 0;
	font-size: 0;
	z-index: 2;
	transform: translateY( -50% );
	@extend .flex;
}

.tns-controls [data-controls]:disabled {
	visibility: hidden;
	opacity: 0;
	transition: all 0.25s
}

.tns-controls [data-controls]:before {
	font-family: $icon;
	font-size: 18px;
}

.tns-controls [data-controls="prev"] {
	left: 20px;
}

.tns-controls [data-controls="prev"]:before {
	content: "\e64a";
}

.tns-controls [data-controls="next"] {
	right: 20px;
}

.tns-controls [data-controls="next"]:before {
	content: "\e649";
}

/* dots */

.tns-nav {
	position: absolute;
	bottom: 30px;
	width: 100%;
	text-align: center;
	z-index: 2;
	height: 0;
}

.tns-nav button {
	width: 12px;
	height: 12px;
	margin: 0 5px;
	border-radius: 50%;
	display: inline-block;
	background: #fff;
	border: 0;
}

.tns-nav button.tns-nav-active {
	cursor: default;
	background: #444;
}
