.customize-control-radio-image input[type=radio] {
	display: none;
}
.customize-control-radio-image label {
	margin: 0 5px 10px 0;
	display: inline-block;
	border: 3px solid #fcfcfc;
}
.customize-control-radio-image label.ui-state-active {
	border-color: #5ea1ed;
	cursor: default;
}
.customize-control-radio-image img {
	display: block;
}

/* hide section intro at `layout/header` section */
.customize-control-header .customizer-section-intro{
	display: none;
}