.home{
	&.blog{
		.site-main{
			.post{
				&:first-child:last-child{
					border-bottom: 0;
				}
			}
		}
	}
}

.alpha.entry-title{
    font-size: 24px;
    font-weight: normal;
}

.site-main{
    .post{
        border-bottom: 1px solid #e8e8e8;
        padding-bottom: 74px;
        +.post{
            margin-top: 80px;
        }
    }
}

.post{
    .updated:not(.published){
        @extend .sr-only;
    }

    .post-cover-image{
        margin-bottom: 35px;
		a{
			display: block;
		}
        img{
            object-fit: cover
        }
    }

    .entry-meta{
    	margin-bottom: 15px;
    	.post-meta-item{
    		margin: 0 5px;

    		&:before{
                content: '.';
                margin-right: 7px;
                font-size: 20px;
                position: relative;
                top: -3px;
            }

    		&:first-child{
    			margin-left: 0;

    			&:before{
    				content: none
    			}
    		}

    		&:last-child{
    			margin-right: 0;
    		}
    	}
    }

    .alpha.entry-title{
        margin-top: 12px;
    }

    .entry-content{
        margin-top: 30px;
    }

    .post-read-more{
        font-weight: 600;
        margin-top: 20px;
        clear: both;
        margin-bottom: 0;
    }
}

.pagination{
    margin-top: 70px;

    ul{
        margin: 0;
        padding: 0;

        .page-numbers{
            font-weight: 600;
            text-transform: uppercase;

            &:not(.prev):not(.next){
                width: 29px;
                height: 29px;
                border-radius: 50%;
                border: 1px solid $tr;
                @extend .flex;
            }
        }
    }

    li{
        list-style: none;
        display: inline-flex;

        .current{
        	color: #fff;
        }
    }

    .nav-links{
        text-align: center;
    }
}

/* responsive */
@media ( max-width: $screen-md - 1 ) {
	#primary{
		+#secondary{
			margin-top: 40px;
		}
	}
}
