.woostify-breadcrumb{
	.single-product &{
		padding-bottom: 35px;
	}
	.item-bread{
		&:after{
			content: "/";
			font-size: 10px;
			margin: 0 4px;
		}
		&:last-of-type{
			&:after{
				content: none
			}
		}
	}
}

.page-header{
	.woostify-container{
		display: flex;
		flex-direction: column;
		align-items: center;
		flex-wrap: wrap;

		&:after{
			content: none;
		}

		&.content-align-left{
			align-items: flex-start;
		}

		&.content-align-center{
			align-items: center;
		}

		&.content-align-right{
			align-items: flex-end;
		}

		&.content-align-justify{
			flex-direction: row;
			justify-content: space-between;

			.entry-title{
				&:first-child:last-child{
					flex-grow: 1;
					text-align: center;
				}
			}
		}
	}

	.single-product &{
		margin-bottom: 0;
	}

	+.site-content{
		margin-top: 0;
	}

	.entry-title{
		margin: 0;
		font-size: 2em;
		font-weight: normal;
	}
}
