/* Content full-width */
.elementor-template-full-width{
	#content{
		.woostify-container{
			width: 100%;
			padding-left: 0;
			padding-right: 0;
		}
	}
}

/* Site container */
.site-boxed-container{
	#page{
		overflow: hidden;
	}

	#view{
		margin: 50px;
	}
}

.site-normal-container,
.site-boxed-container {
	.woostify-container{
		@extend .container;
	}
}

.woostify-container{
	@extend .clearfix;
	max-width: 100%;
	&:not(.container-fluid) {
		@extend .container;
	}
	&.container-fluid{
		padding-left: 0;
		padding-right: 0;
	}
}

#view{
	position: relative;
	overflow-x: hidden;
	background-color: #fff;
	@include transition( all 0.3s );
}

.site-content{
	margin-top: 3.5em;
	@extend .clearfix;

	.single-product &,
	.elementor-page &{
		margin-top: 0;
	}
}
/* 404 */
.error404{
	.site-content{
		margin-top: 0;
		min-height: 500px;
		background-repeat: no-repeat;
		background-position: center center;
		background-size: cover;
		@extend .flex;
	}
	.site-footer{
		margin-top: 0;
	}
	.error-404-text{
		max-width: 320px;
		margin: 0 auto;
		font-size: 18px;
		line-height: 1.8em;
	}
}


/* search */
.search-no-results{
	.search-form,
	.woocommerce-product-search{
		.search-field{
			border-radius: 5px;
		}
	}
}
