.has-header-transparent{
	.site-header{
		position: static;
		left: 0;
		right: 0;
		z-index: 10;
	}

	.site-header-inner {
		background-color: transparent;
	}

	&.header-transparent-for-desktop{
		@media ( min-width: $screen-md ) {
			.site-header{
				position: absolute;
			}
		}
	}

	&.header-transparent-for-mobile{
		@media ( max-width: $screen-md - 1 ) {
			.site-header{
				position: absolute;
			}
		}
	}

	&.header-transparent-for-all-devices{
		.site-header{
			position: absolute;
		}
	}
}
