.site-header-inner{
	border-bottom: 1px solid #eaeaea;

	p{
		&:empty{
			display: none;
		}
		&:last-child{
			margin-bottom: 0;
		}
	}

    .woostify-container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        min-height: 70px;

        &:after{
        	content: none;
        }
    }

    /* logo */
    .logo{
    	margin: 0;
    }
    .site-branding{
        .beta.site-title{
            margin: 0;
            font-size: 24px;
        }
        @media ( max-width: $screen-md ) {
        	text-align: center;
        }
    }

    /* menu */
    .site-navigation{
    	&:last-child{
    		@media ( min-width: $screen-md ) {
    			.main-navigation{
    				padding-right: 0;
    			}
    		}
    	}

    	+.site-search{
    		margin-left: 10px;
    	}
    }

	@media ( min-width: $screen-md ) {
		.main-navigation{
	        padding: 0 20px;

	        .primary-navigation{
	            padding-left: 0;
	            margin: 0;

	            > li{
	                display: inline-flex;
	                line-height: 1;

	                > a{
	                    padding: 0 20px;
	                }

	                ul{
	                    opacity: 0;
	                    visibility: hidden;
	                    position: absolute;
	                    top: 110%;
	                    left: 0;
	                    margin-left: 0;
	                    background: #fff;
	                    min-width: 180px;
	                    text-align: left;
	                    z-index: 5;
	                    @include scaleY(0);

	                    ul{
	                        top: 20%;
	                        @include duration;
	                    }

	                    li.menu-item-has-children{
	                        &:after{
	                            content: "\e649";
	                            font-family: $icon;
	                            font-size: 12px $i;
	                            top: 17px;
	                            line-height: 1 $i;
	                            position: absolute;
	                            right: 10px;
	                        }
	                    }

	                    a{
	                        display: block;
	                        padding: 10px 20px;

	                        &:hover{
	                            background: rgba(239, 239, 239, 0.28)
	                        }
	                    }
	                }
	            }
	            li{
	                position: relative;

	                &:hover{
	                    > ul{
	                        pointer-events: auto;
	                        opacity: 1;
	                        visibility: visible;
	                        top: 100%;
	                        @include translatey( 0px );
	                    }
	                }
	            }
	            .sub-menu{
	                pointer-events: none;

	                @media ( min-width: $screen-md ) {
	                    @include shadow( 0 2px 8px 0 rgba(125, 122, 122, 0.2) );
	                    border-radius: 4px;
	                }

	                @include duration( 0.2s );
	                @include translatey( 10px );

	                >li{
	                    >ul{
	                        @include translatey( 0px );
	                        top: 0;
	                        left: 110%;
	                    }

	                    &:hover{
	                        > ul{
	                            left: 100%;
	                        }
	                    }
	                }

	                a{
	                    white-space: nowrap
	                }
	            }
	        }

	        li{
	            list-style: none;
	        }
	    }
	}

    /* search form */
    .site-search{
        min-width: 270px;

        +.site-tools{
        	margin-left: 10px;

        	.shopping-bag-button{
        		&:first-child:last-child{
        			margin-left: 15px;
        		}
        	}
        }

        form{
	        height: 40px;

	        &:after{
	            font-size: 16px;
	            width: 40px;
	            height: 40px;
	        }

	        .search-field{
	            padding-right: 40px;
	        }

	        button[type="submit"]{
	            width: 40px;
	        }
	    }
    }
}

/* site tools */
.site-tools{
	@include flex( flex, flex-end, center );

	.my-account{
		position: relative;
		.my-account-icon{
			padding: 10px 0;
		}
		&.tools-icon{
			ul a{
				font-size: 14px;
				padding: 10px 20px;
				display: block;
			}
		}

		&:hover{
			ul{
				opacity: 1;
				visibility: visible;
				pointer-events: auto;
				@include translatey( 0px );
			}
		}

		ul{
			min-width: 160px;
			margin: 0;
			padding-left: 0;
			visibility: hidden;
			opacity: 0;
			position: absolute;
			z-index: 2;
			left: -20px;
			top: 100%;
			background-color: #fff;
			border-radius: 4px;
			pointer-events: none;
			@include duration( 0.2s );
			@include translatey( 10px );
			@include shadow( 0px 1px 4px 0 rgba(0, 0, 0, 0.2) );
		}

		li{
			list-style: none;

			+li{
				border-top: 1px solid #eee;
			}
		}
	}

	.tools-icon{
		font-size: 24px;
		display: flex;
		margin-left: 15px;
		.tools-icon{
			margin-left: 0;
		}
	}

	.header-search-icon{
		cursor: pointer;
	}

	.shopping-bag-button{
		position: relative;
	}

	.shop-cart-count{
		position: absolute;
		top: -6px;
		right: -10px;
	}
}

/* mobile menu toggle button */
.toggle-sidebar-menu-btn{
	font-size: 24px;
	cursor: pointer;
}

/* responsive */
@media ( min-width: $screen-md ) {
	.has-header-layout-1 {
		.wrap-toggle-sidebar-menu{
			display: none;
		}
		.site-navigation{
			flex-grow: 1;
			text-align: right;

			.site-search,
			.mobile-my-account{
				display: none;
			}
		}
	}

}

@media ( max-width: $screen-md - 1 ) {
	.header-layout-1{
		.wrap-toggle-sidebar-menu,
		.site-tools{
			flex: 1 1 0px;
		}
		.site-branding{
			flex: 0 1 auto;
		}
	}
	.site-header-inner{

	    .woostify-container{
	    	padding: 15px;
	    	justify-content: center;
	    }

	    .site-navigation,
	    .site-search{
	    	display: none;
	    }

	    .logo{
	    	max-width: 70%;
	    	margin: 0 auto;
	    }
	}

	.site-tools{
		.header-search-icon,
		.my-account{
			display: none;
		}
	}
}

@media ( min-width: $screen-sm ) {
	.has-custom-mobile-logo{
		.custom-mobile-logo-url{
			display: none;
		}
	}
}

@media ( max-width: $screen-sm - 1 ) {
	.has-custom-mobile-logo{
		a{
			&:not(.custom-mobile-logo-url){
				display: none;
			}
		}
	}
}
