.woostify-icon-bar {
	width: 26px;
	height: 26px;
	@extend .flex;
	span {
		position: relative;
		background-color: #000;
		width: 100%;
		height: 2px;
		display: block;
		@include delay(0.5s);
		@include duration(0.5s);
		&:before,
		&:after {
			@include delay(0.5s);
			@include duration(0.5s);
		}
		&:before,
		&:after {
			content: '';
			position: absolute;
			left: 0;
			width: 100%;
			height: 2px;
			background-color: $inh;
		}
		&:before {
			top: -6px;
		}
		&:after {
			bottom: -6px;
		}
	}
}

.sidebar-menu-open {
	overflow: hidden;
	.woostify-icon-bar{
		span {
			@include rotate(180);
			&:before {
				width: 50%;
				@include transform(rotate(45deg) translate(14px, -11px));
			}
			&:after {
				width: 50%;
				@include transform(rotate(-45deg) translate(14px, 11px));
			}
		}
	}
}

.sidebar-menu {
	position: fixed;
	left: 0;
	bottom: 0;
	top: 0;
	background-color: #fff;
	/* higher #woostify-overlay: 199 */
	z-index: 200;
	padding: 30px;
	width: 300px;
	overflow-x: hidden;
	overflow-y: scroll;
	@include translatex( -100%);
	@extend .duration;
	.logged-in.admin-bar & {
		top: 46px;
		@media (min-width: 783px) {
			top: 32px;
		}
	}
	/* search form */
	.site-search{
		margin-bottom: 20px;
	}
	.search-form,
	.woocommerce-product-search {
		height: 40px;
		.search-field {
			padding-right: 40px;
		}
	}
	.search-form .search-submit,
	.woocommerce-product-search button[type="submit"] {
		width: 40px;
	}
	.search-form,
	.woocommerce-product-search {
		&:after {
			width: 40px;
			height: 40px;
		}
	}
	/* menu */
	.site-navigation{
		margin-bottom: 40px;
	}
	.primary-navigation{
		padding-left: 0;
		margin: 0;
		> li {
			&.current-menu-ancestor,
			&.current-menu-parent,
			&.current_page_parent,
			&.current_page_ancestor {
				> a:before {
					content: '';
					width: 40px;
				}
			}
		}
		.menu-item-has-children {
			position: relative;
		}
		.arrow-icon{
			cursor: pointer;
			position: absolute;
			right: -20px;
			top: 1em;
			width: 30px;
			height: 30px;
			z-index: 5;
			@extend .flex;
			&:after {
				content: "\e649";
				font-family: $icon;
				font-size: 10px;
				font-weight: 700;
				@extend .duration;
			}
			&.active{
				&:after{
					@include rotate( 90 );
				}
			}
		}
		a {
			display: block;
			font-size: 1.2em;
			line-height: 3em;
			position: relative;
			&:hover {
				&:before {
					width: 40px;
				}
			}
			&:before {
				content: '';
				position: absolute;
				left: 0;
				bottom: 8px;
				height: 2px;
				width: 0;
				@extend .duration;
			}
		}
	}
	.sub-menu {
		display: none;
	}
	/* sidebar bottom */
	.sidebar-menu-bottom {
		border-top: 1px solid #eee;
		ul {
			padding-left: 0;
			margin: 0;
		}
	}
	.sidebar-account {
		a {
			display: block;
			line-height: 3em;
			font-size: 1.2em;
		}
	}
	ul {
		list-style: none;
	}
}

/* Header Layout 1 */

.has-header-layout-1 {
	@media ( min-width: $screen-md) {
		.sidebar-menu {
			display: none;
		}
	}
	@media ( max-width: $screen-md - 1) {
		/* menu open */
		.sidebar-menu-open &{
			#woostify-overlay {
				opacity: 1;
				visibility: visible;
				pointer-events: auto;
			}
			#view {
				@include translatex( 300px);
			}
			.sidebar-menu {
				@include translatex( 0);
			}
		}
		@media ( min-width: $screen-md) {
			.sidebar-menu-open &{
				#view {
					@include translatex( 50%);
				}
			}
			.sidebar-menu {
				padding: 40px 60px;
				width: 50%;
				.site-navigation {
					left: 60px;
					right: 60px;
				}
				.sidebar-menu-bottom {
					padding: 30px 60px 10px 60px;
				}
			}
		}
	}
}
