.topbar{
	.woostify-container{
		@include flex( flex, space-between, center );
		flex-wrap: wrap;
		&:after{
			content: none;
		}
	}
	.topbar-item{
		flex-grow: 1;
		p{
			&:empty{
				display: none;
			}
			&:last-child{
				margin-bottom: 0;
			}
		}
		@media ( max-width: $screen-md ) {
			text-align: center;
		}
	}
	@media ( min-width: $screen-md - 1 ) {
		.topbar-center{
			text-align: center;
		}
		.topbar-right{
			text-align: right;
		}
	}
}
