.widget{

	&:not(.footer-widget) {
		&:first-of-type{
			.widget-title{
				margin-top: 0;
			}
		}
	}

    > ul{
        padding-left: 0;
    }

    li{
        list-style: none;
        line-height: 36px;
    }

    ul.menu{
        padding-left: 0;

        a{
            line-height: 36px;
        }
    }

    select{
        width: 100%;
        height: 40px;
        border-radius: 0
    }

    .widget-area &{
        margin-bottom: 40px;
    }

    .count{
    	float: right;
    }
}

.widget-title,
.widgettitle{
	font-weight: normal;
	margin-bottom: 20px;
}

.widget_archive,
.widget_categories,
.widget_pages{
    li{
        line-height: 36px;
    }

    .post_count{
        font-size: 13px;
        position: relative;
        bottom: 1ex
    }
}

/* tags */
.tagcloud{
    a{
        border: 1px solid #e2e2e2;
        padding: 0.3em 0.9em;
        display: inline-block;
        margin-bottom: 4px;
        font-size: 14px;
        margin-right: 4px;

        &:hover{
        	border-color: $tr;
        }
    }
    #secondary .widget &{
    	a{
    		&:hover{
    			color: #fff;
    		}
    	}
    }
}

/* search */
.search-form,
.woocommerce-product-search{
    position: relative;
    height: 50px;

    &:hover{
        &:after{
            @include rotate( 90 );
        }
    }

	/* Fix issue not showing on IE */
    &:focus-within{
    	&:after{
    		@include rotate( 90 );
    	}
    }

    &:after{
        content: "\e610";
        font-family: $icon;
        font-size: 20px;
        position: absolute;
        right: 0;
        top: 0;
        width: 50px;
        height: 50px;
        @extend .flex;
        @extend .duration;
    }

    .search-field{
        border-color: $tr;
        height: 100%;
        background: #eeeeec;
        width: 100%;
        padding: 0 20px;
        padding-left: 20px;
        padding-right: 50px;
        border-radius: 50px;
        font-size: 12px;
        @extend .duration;

        &::-webkit-search-cancel-button{
            display: none;
        }

        &:focus{
            border-color: #dedbdb;
        }
    }
    .search-submit,
    button[type="submit"]{
        overflow: hidden;
        color: $tr $i;
        background: $tr $i;
        border-radius: 50%;
        width: 50px;
        height: 100%;
        position: absolute;
        right: 0;
        top: 0;
        z-index: 2;
        border: 0;
    }
}

/* mini cart */
.woocommerce-mini-cart{
	padding-left: 0;
}
.widget_shopping_cart_content{
	.woocommerce-mini-cart__total{
		padding-top: 10px;
		border-top: 1px solid #f7f7f7;
	}

	.remove_from_cart_button{
		&:hover{
			@include rotate( 90 );
		}
	}
}
.product_list_widget{
	a{
		&:not(.remove_from_cart_button){
			display: block;
			line-height: 1.4em;
		}
	}

	li{
		position: relative;
		padding: 10px 15px 10px 75px;
		border-bottom: 1px solid #f7f7f7;
		line-height: 26px;
		min-height: 90px;
	}

	img{
		max-width: 60px;
		max-height: 60px;
		position: absolute;
		left: 0;
	}

	&.woocommerce-mini-cart{
		img{
			top: 10px;
		}
	}

	.mini_cart_item{
    	&:last-of-type{
    		border-bottom: 0;
    	}
    }
    .remove_from_cart_button {
        width: 20px;
        height: 20px;
        position: absolute;
        right: 0;
        top: 10px;
        font-size: 0;
        z-index: 2;
        color: firebrick;
        @extend .flex;

        &:before {
            content: "\e646";
            font-family: $icon;
            line-height: 1;
            font-size: 10px;
        }

        &:focus {
        	&:before{
        		left: 0;
	            top: 0;
	            @include loading( $size: 20px, $center: false );
        	}
        }
    }
}
.mini_cart_item{
	.quantity{
		width: auto;
		height: auto;
		border-radius: 0;
		display: block;
	}
}

.woocommerce-mini-cart__total{
	text-transform: uppercase;
	@include flex( flex, space-between, center );

	.amount{
		font-weight: 700;
	}
}
.woocommerce-mini-cart__buttons{
	margin-bottom: 0;

	.button{
		font-size: 12px;
		font-weight: 700;
	}

	a.button{
		width: 50%;
		display: inline-block;
		text-align: center;
		text-transform: uppercase;
	}

	a.checkout{
		border-left: 1px solid #fff;
	}
}

/* list, reviews, top rate product */
.widget_products,
.widget_recent_reviews,
.widget_top_rated_products,
.widget_recently_viewed_products{
    li{
        min-height: 90px;
        position: relative;
        padding: 10px 0 10px 80px;
        @extend .clearfix;

        &:last-of-type{
        	border-bottom: 0;
        }
    }

    a{
        line-height: 1.3;
        margin-bottom: 5px;
    }

    .star-rating{
        display: block;
    }

    del{
        margin-right: 5px;
        float: left;
        clear: both;
    }

    ins{
        float: left;
        background: $tr;
    }
}

/* product reviews */
.widget_recent_reviews{
    .reviewer{
        float: left;
        clear: both;
    }
}

/* Product Categories List */
.widget_product_categories{
	.product-categories > li{
		ul{
			margin-left: 10px;

			li:before{
				content: "\e649";
				font-family: $icon;
				font-size: 10px;
				margin-right: 5px;
			}
		}
	}
}

/* Layered Nav Dropdown */
.woocommerce-widget-layered-nav-dropdown__submit{
	margin-top: 1em;
}

/* price range slider */
.price_slider_wrapper{
    .price_slider{
        margin-bottom: 25px;
        position: relative;
        height: 2px;
        margin-left: .5em;
		margin-right: .5em;
        @extend .clearfix
    }

    .ui-widget-header{
    	height: 100%;
        position: absolute;
    }

    .ui-slider-handle{
        cursor: pointer;
        position: absolute;
        width: 10px;
        height: 10px;
        margin-left: -10px;
        border-radius: 50%;
        background: #fff;
        top: 50%;
        @include translatey( -50% );
        @include shadow(1px 1px 3px 0px rgba(0, 0, 0, 0.2));
    }

    .price_slider_amount{
        input,
        .clear{
            display: none;
        }

        button{
            display: inline-block;
            margin-right: 15px;
        }

        .price_label{
            display: inline-block;
        }
    }
}

/* Recent post thumbnail */
.widget_recent_post_thumbnail_item{
	display: flex;
	align-items: center;

	+#{&}{
		margin-top: 30px;
	}

	.recent-post-thumbnail-img{
		width: 50px;
		min-width: 50px;
		margin-right: 20px;

		img {
			border-radius: 3px;
		}
	}

	.recent-post-thumbnail-sum{
		flex-grow: 1;
	}
}

/* Footer widget text */
.woostify-footer-text-widget{
	.woostify-footer-site-title{
		font-size: 24px;
		font-weight: 600;
		margin-bottom: 15px;
	}

	@at-root .woostify-footer-social-icon{
		padding-left: 0;
		margin: 20px 0 0;

		li{
			list-style: none;
			display: inline-flex;

			+li{
				margin-left: 7px;
			}

			a{
				width: 30px;
				height: 30px;
				border-radius: 50%;
				border-style: solid;
				border-width: 1px;
				@extend .inline-flex;

				&:hover{
					opacity: 0.7;
					color: #fff;
				}
			}
		}

	}
}

.woostify-social-icon{
    a{
        font-size: 0;

        &:before{
            font-size: 14px;
            font-family: $icon;
        }

        &[href*="twitter.com"]:before {
            content: "\e72a";
        }

        &[href*="facebook.com"]:before {
            content: "\e741";
        }

        &[href*="plus.google.com"]:before {
            content: "\e73e";
        }

        &[href*="instagram.com"]:before {
            content: "\e73d";
        }

        &[href*="vimeo.com"]:before {
            content: "\e729";
        }

        &[href*="youtube.com"]:before {
            content: "\e728";
        }

        &[href*="github.com"]:before {
            content: "\e73f";
        }

        &[href*="linkedin.com"]:before {
            content: "\e735";
        }

        &[href*="pinterest.com"]:before {
            content: "\e753";
        }

        &[href*="flickr.com"]:before {
            content: "\e740";
        }

        &[href*="tumblr.com"]:before {
            content: "\e72c";
        }
    }
}

/* Wishlist page: Share */
.yith-wcwl-share{
	@extend .woostify-social-icon;
}

/* Notice after added to wishlist */
#yith-wcwl-popup-message {
  display: none $i;
}

/* Hide adv feature product if slider not initialize */
.advanced-featured-product{
	position: relative;
}
.adv-featured-product{
	position: relative;
	&:not(.slick-initialized){
		display: none;
	}
}
