* {
  outline: none !important;
}

.appearance_page_woostify-welcome {
  /* List pro feature */
  /* notice */
}

.appearance_page_woostify-welcome #wpcontent {
  padding: 0;
}

.appearance_page_woostify-welcome .woostify-wrap a {
  text-decoration: none;
  outline: none !important;
}

.appearance_page_woostify-welcome .woostify-wrap a:focus {
  box-shadow: none !important;
}

.appearance_page_woostify-welcome .woostify-welcome-container {
  max-width: 930px;
  margin: 0 auto;
  padding: 0 15px;
}

.appearance_page_woostify-welcome .woostify-welcome-theme-brand {
  max-width: 200px;
}

.appearance_page_woostify-welcome .woostify-welcome-nav {
  background-color: #fff;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
}

@media (max-width: 719px) {
  .appearance_page_woostify-welcome .woostify-welcome-nav {
    padding: 15px 0;
    text-align: center;
  }
}

@media (min-width: 720px) {
  .appearance_page_woostify-welcome .woostify-welcome-nav .woostify-welcome-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.appearance_page_woostify-welcome .woostify-welcome-nav .woostify-welcome-theme-brand {
  display: inline-flex;
  align-items: center;
  color: #333;
  color: unset;
  font-size: 1.4em;
}

@media (max-width: 719px) {
  .appearance_page_woostify-welcome .woostify-welcome-nav .woostify-welcome-theme-brand {
    border-bottom: 1px solid #f4f4f4;
    padding-bottom: 25px;
    margin-bottom: 15px;
    justify-content: center;
  }
}

.appearance_page_woostify-welcome .woostify-welcome-nav .woostify-welcome-theme-icon {
  max-width: 30px;
  max-height: 40px;
  position: relative;
  transform: rotate(-20deg);
}

.appearance_page_woostify-welcome .woostify-welcome-nav .woostify-welcome-theme-title {
  margin: 0 10px 0 5px;
  text-transform: uppercase;
  font-weight: 700;
  color: #463fba;
}

.appearance_page_woostify-welcome .woostify-welcome-nav .woostify-welcome-theme-version {
  background-color: #e5e5e5;
  border-radius: 2px;
  font-size: 0.65em;
  padding: 2px 5px;
}

.appearance_page_woostify-welcome .woostify-welcome-nav .woostify-welcome-nav__version {
  color: #fff;
  display: inline-block;
  padding: 0.5em 0;
  font-weight: 700;
}

@media (max-width: 719px) {
  .appearance_page_woostify-welcome .woostify-welcome-nav .woostify-welcome-nav_link {
    margin: 0;
  }
}

.appearance_page_woostify-welcome .woostify-welcome-nav .woostify-welcome-nav_link li {
  display: inline-block;
}

.appearance_page_woostify-welcome .woostify-welcome-nav .woostify-welcome-nav_link li:last-of-type a {
  padding-right: 0;
}

.appearance_page_woostify-welcome .woostify-welcome-nav .woostify-welcome-nav_link a {
  text-decoration: none;
  display: block;
  padding: 0.5em;
}

.appearance_page_woostify-welcome .woostify-welcome-nav .woostify-welcome-nav_link a:hover {
  color: #000;
}

@media (min-width: 719px) {
  .appearance_page_woostify-welcome .woostify-welcome-nav .woostify-welcome-nav_link a {
    color: #333;
    padding: 1em;
  }
}

.appearance_page_woostify-welcome .woostify-welcome-nav ul,
.appearance_page_woostify-welcome .woostify-welcome-nav li {
  list-style: none;
  padding: 0;
}

.appearance_page_woostify-welcome .woostify-welcome-nav li {
  display: inline-block;
  margin: 0;
}

.appearance_page_woostify-welcome .woostify-enhance {
  margin-top: 4em;
}

@media (min-width: 1140px) {
  .appearance_page_woostify-welcome .woostify-enhance {
    margin: 4em 0px;
  }
}

.appearance_page_woostify-welcome .woostify-enhance:after {
  content: '';
  clear: both;
  display: block;
}

.appearance_page_woostify-welcome .woostify-enhance .woostify-welcome-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

@media (max-width: 1140px) {
  .appearance_page_woostify-welcome .woostify-enhance .woostify-welcome-container {
    flex-wrap: wrap;
    justify-content: center;
  }
}

.appearance_page_woostify-welcome .woostify-enhance .woostify-enhance-content {
  width: 100%;
}

@media (min-width: 1140px) {
  .appearance_page_woostify-welcome .woostify-enhance .woostify-enhance-content {
    max-width: 600px;
    margin-right: 20px;
  }
}

.appearance_page_woostify-welcome .woostify-enhance .woostify-enhance-sidebar {
  width: 100%;
}

@media (min-width: 1140px) {
  .appearance_page_woostify-welcome .woostify-enhance .woostify-enhance-sidebar {
    max-width: 350px;
  }
}

.appearance_page_woostify-welcome .woostify-enhance .woostify-enhance__column {
  border: 1px solid #d8e2e9;
  width: 100%;
  background: #fff;
  margin-bottom: 10px;
}

@media (min-width: 720px) {
  .appearance_page_woostify-welcome .woostify-enhance .woostify-enhance__column {
    margin-bottom: 20px;
  }
}

.appearance_page_woostify-welcome .woostify-enhance .woostify-enhance__column .wst-flex {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  justyfy-content: space-between;
}

.appearance_page_woostify-welcome .woostify-enhance .woostify-enhance__column .wst-flex .link-to-customie-item {
  margin: 10px 0;
  width: 100%;
}

.appearance_page_woostify-welcome .woostify-enhance .woostify-enhance__column .wst-flex .link-to-customie-item.disabled {
  filter: grayscale(100%);
  cursor: default;
}

.appearance_page_woostify-welcome .woostify-enhance .woostify-enhance__column .wst-flex .link-to-customie-item.disabled a {
  pointer-events: none;
}

.appearance_page_woostify-welcome .woostify-enhance .woostify-enhance__column .wst-flex .link-to-customie-item a:hover {
  opacity: 0.7;
}

@media (min-width: 720px) {
  .appearance_page_woostify-welcome .woostify-enhance .woostify-enhance__column .wst-flex .link-to-customie-item:nth-child(odd) {
    width: 74%;
  }
  .appearance_page_woostify-welcome .woostify-enhance .woostify-enhance__column .wst-flex .link-to-customie-item:nth-child(even) {
    width: 26%;
  }
}

.appearance_page_woostify-welcome .woostify-enhance .woostify-enhance__column h3 {
  font-size: 1.1em;
  font-weight: 600;
  color: #383838;
  border-bottom: 1px solid #d8e2e9;
  padding: 1em 1.5em;
  margin: 0;
}

.appearance_page_woostify-welcome .woostify-enhance .woostify-enhance__column img {
  width: 100%;
  height: auto;
  margin-bottom: 1.5em;
}

.appearance_page_woostify-welcome .woostify-enhance .woostify-bundle,
.appearance_page_woostify-welcome .woostify-enhance .woostify-pro-featured {
  padding-bottom: 0.5em;
}

.appearance_page_woostify-welcome .woostify-enhance .woostify-bundle .bundle-image {
  display: block;
  background: #f7f7f7;
  margin-bottom: 1.5em;
}

.appearance_page_woostify-welcome .woostify-enhance .woostify-bundle .bundle-image img {
  display: block;
  max-width: 75%;
  margin: 0 auto;
}

.appearance_page_woostify-welcome a.woostify-button.disabled {
  cursor: default;
  color: #c8d7e1;
}

.appearance_page_woostify-welcome a.woostify-button.disabled:hover {
  border-color: #c8d7e1;
  box-shadow: 0 1px 0 #c8d7e1;
}

.appearance_page_woostify-welcome .automattic {
  text-align: center;
  clear: both;
}

.appearance_page_woostify-welcome .automattic p {
  font-size: 0.75em;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #aaa;
}

.appearance_page_woostify-welcome .automattic img {
  max-height: 9px;
  margin: 0 ms(-3);
  margin-top: -3px;
  opacity: 0.5;
}

.appearance_page_woostify-welcome .wf-quick-setting-section {
  margin: 1em 0;
  padding: 0 1.5em;
}

.appearance_page_woostify-welcome .pro-featured-list {
  padding-bottom: 0 !important;
}

.appearance_page_woostify-welcome .pro-featured-list .wf-quick-setting-section {
  margin: 0;
  padding: 0;
}

.appearance_page_woostify-welcome .pro-featured-list .pro-featured-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #eeeeee;
  padding: 1em 1.5em;
}

.appearance_page_woostify-welcome .pro-featured-list .pro-featured-item:last-of-type {
  border-bottom: 0;
}

@media (min-width: 720px) {
  .appearance_page_woostify-welcome .woostify-learn-more {
    float: right;
  }
}

.appearance_page_woostify-welcome #wpbody-content .notice {
  margin-bottom: 10px;
}

/* STYLE FOR `Image` COLUMN `post` ADMIN SCREEN */
#thumbnail_image {
  width: 60px;
}

#the-list td.thumbnail_image a:focus {
  box-shadow: none;
}

#the-list td.thumbnail_image img {
  max-width: 100%;
}

/* Admin notice */
.woostify-options-notice {
  padding: 10px !important;
  border-left: 0;
  clear: both;
  position: relative;
}

.woostify-options-notice .woostify-notice-content {
  display: flex;
  align-items: center;
  background-color: #faf5ef;
  padding: 20px;
}

.woostify-options-notice .woostify-notice-img {
  margin-left: 10px;
  margin-right: 30px;
  width: 50px;
  transform: rotate(-30deg);
}

.woostify-options-notice .woostify-notice-heading {
  font-size: 1.4em;
}

.woostify-options-notice .woostify-notice-text a {
  font-weight: 700;
  color: #001099;
}

.woostify-options-notice .notice-dismiss {
  top: 5px;
  right: 5px;
  outline: none !important;
  box-shadow: none !important;
  text-decoration: none;
}

.woostify-pro-release-notice {
  background-color: #faf5ef;
}

/* Button Devices on Customizer */
.wp-full-overlay-footer .devices {
  display: flex;
}
