$green: #45b964;

* {
	outline: none !important;
}

.appearance_page_woostify-welcome {
	#wpcontent {
		padding: 0;
	}

	.woostify-wrap {
		a {
			text-decoration: none;
			outline: none !important;

			&:focus{
				box-shadow: none !important;
			}
		}
	}

	.woostify-welcome-container{
		max-width: 930px;
		margin: 0 auto;
		padding: 0 15px;
	}

	.woostify-welcome-theme-brand{
		max-width: 200px;
	}

	.woostify-welcome-nav {
		background-color: #fff;
		box-shadow: 0 1px 1px 0 rgba( 0, 0, 0, 0.1 );

		@media ( max-width: 719px ) {
			padding: 15px 0;
			text-align: center;
		}

		.woostify-welcome-container{
			@media ( min-width: 720px ) {
				display: flex;
				justify-content: space-between;
				align-items: center;
			}
		}

		.woostify-welcome-theme-brand{
			display: inline-flex;
			align-items: center;
			color: #333;
			color: unset;
			font-size: 1.4em;

			@media ( max-width: 719px ) {
				border-bottom: 1px solid #f4f4f4;
				padding-bottom: 25px;
				margin-bottom: 15px;
				justify-content: center;
			}
		}

		.woostify-welcome-theme-icon{
			max-width: 30px;
			max-height: 40px;
			position: relative;
			transform: rotate( -20deg );
		}

		.woostify-welcome-theme-title{
			margin: 0 10px 0 5px;
			text-transform: uppercase;
			font-weight: 700;
			color: #463fba;
		}

		.woostify-welcome-theme-version{
			background-color: #e5e5e5;
			border-radius: 2px;
			font-size: 0.65em;
			padding: 2px 5px;
		}

		.woostify-welcome-nav__version {
			color: #fff;
			display: inline-block;
			padding: 0.5em 0;
			font-weight: 700;
		}

		.woostify-welcome-nav_link{
			@media ( max-width: 719px ) {
				margin: 0;
			}

			li{
				display: inline-block;

				&:last-of-type{
					a{
						padding-right: 0;
					}
				}
			}

			a{
				text-decoration: none;
				display: block;
				padding: 0.5em;

				&:hover{
					color: #000;
				}
			}

			@media ( min-width: 719px )	{
				a {
					color: #333;
					padding: 1em;
				}
			}
		}

		ul,
		li {
			list-style: none;
			padding: 0;
		}

		li {
			display: inline-block;
			margin: 0;
		}
	}

	.woostify-enhance {
		margin-top: 4em;

		@media ( min-width: 1140px ) {
			margin: 4em 0px;
		}

		&:after{
			content: '';
			clear: both;
			display: block;
		}

		.woostify-welcome-container{
			display: flex;
			justify-content: space-between;
			align-items: flex-start;

			@media ( max-width: 1140px ) {
				flex-wrap: wrap;
				justify-content: center;
			}
		}

		.woostify-enhance-content {
			width: 100%;

			@media ( min-width: 1140px ) {
				max-width: 600px;
				margin-right: 20px;
			}
		}

		.woostify-enhance-sidebar {
			width: 100%;

			@media ( min-width: 1140px ) {
				max-width: 350px;
			}
		}

		.woostify-enhance__column {
			border: 1px solid #d8e2e9;
			width: 100%;
			background: #fff;
			margin-bottom: 10px;

			@media ( min-width: 720px ) {
				margin-bottom: 20px;
			}

			.wst-flex {
				display: flex;
				flex-wrap: wrap;
				align-items: center;
				align-content: center;
				justyfy-content: space-between;

				.link-to-customie-item {
					margin: 10px 0;
					width: 100%;

					&.disabled{
						filter: grayscale( 100% );
						cursor: default;

						a{
							pointer-events: none;
						}
					}

					a{
						&:hover{
							opacity: 0.7;
						}
					}

					@media ( min-width: 720px ) {
						&:nth-child( odd ) {
							width: 74%;
						}

						&:nth-child( even ) {
							width: 26%;
						}
					}
				}
			}

			h3 {
				font-size: 1.1em;
				font-weight: 600;
				color: #383838;
				border-bottom: 1px solid #d8e2e9;
				padding: 1em 1.5em;
				margin: 0;
			}

			img {
				width: 100%;
				height: auto;
				margin-bottom: 1.5em;
			}
		}

		.woostify-bundle,
		.woostify-pro-featured {
			padding-bottom: 0.5em;
		}

		.woostify-bundle {
			//order: 2;

			.bundle-image {
				display: block;
				background: #f7f7f7;
				margin-bottom: 1.5em;

				img {
					display: block;
					max-width: 75%;
					margin: 0 auto;
				}
			}
		}
	}

	a.woostify-button {

		&.disabled {
			cursor: default;
			color: #c8d7e1;

			&:hover {
				border-color: #c8d7e1;
				box-shadow: 0 1px 0 #c8d7e1;
			}
		}
	}

	.automattic {
		text-align: center;
		clear: both;

		p {
			font-size: 0.75em;
			letter-spacing: 1px;
			text-transform: uppercase;
			color: #aaa;
		}

		img {
			max-height: 9px;
			margin: 0 ms(-3);
			margin-top: -3px;
			opacity: 0.5;
		}
	}

	.wf-quick-setting-section{
		margin: 1em 0;
		padding: 0 1.5em;
	}

	/* List pro feature */
	.pro-featured-list{
		padding-bottom: 0 !important;

		.wf-quick-setting-section{
			margin: 0;
			padding: 0;
		}

		.pro-featured-item{
			display: flex;
			justify-content: space-between;
			align-items: center;
			border-bottom: 1px solid #eeeeee;
			padding: 1em 1.5em;
			&:last-of-type{
				border-bottom: 0;
			}
		}
	}

	.woostify-learn-more{
		@media ( min-width: 720px ) {
			float: right;
		}
	}

	/* notice */
	#wpbody-content{
		.notice{
			margin-bottom: 10px;
		}
	}
}

/* STYLE FOR `Image` COLUMN `post` ADMIN SCREEN */
#thumbnail_image {
	width: 60px;
}
#the-list td.thumbnail_image a:focus {
	box-shadow: none;
}
#the-list td.thumbnail_image img {
	max-width: 100%;
}

/* Admin notice */
.woostify-options-notice{
	padding: 10px !important;
	border-left: 0;
	clear: both;
	position: relative;
	.woostify-notice-content{
		display: flex;
		align-items: center;
		background-color: #faf5ef;
		padding: 20px;
	}
	.woostify-notice-img{
		margin-left: 10px;
		margin-right: 30px;
		width: 50px;
		transform: rotate(-30deg);
	}
	.woostify-notice-heading{
		font-size: 1.4em;
	}
	.woostify-notice-text{
		a{
			font-weight: 700;
			color: #001099;
		}
	}
	.notice-dismiss{
		top: 5px;
		right: 5px;
		outline: none !important;
		box-shadow: none !important;
		text-decoration: none;
	}
}

.woostify-pro-release-notice {
	background-color: #faf5ef;
}

/* Button Devices on Customizer */
.wp-full-overlay-footer{
	.devices{
		display: flex;
	}
}
