/*--------------------------------------------------------------
Reset
--------------------------------------------------------------*/

*,
*:before,
*:after {
    box-sizing: border-box;
    outline: none;
}

html{
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-tap-highlight-color: transparent;
	-webkit-touch-callout: none;
	overflow-x: hidden;
    font-size: 14px;
    background-color: #fff;
}

body {
    margin: 0;
    overflow-x: hidden;
    word-break: break-word;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary,
audio,
canvas,
progress,
video{
    display: block;
}

audio:not([controls]) {
    display: none;
    height: 0;
}

[hidden],
template {
    display: none;
}

ol {
    list-style: decimal;
}

ul {
    list-style: disc;
}

ul,
ol {
    padding-left: 20px;
}

iframe,
embed,
figure,
figcaption {
    border: 0;
    max-width: 100%;
}

caption,
th,
td {
    font-weight: normal;
    text-align: left;
}

blockquote,
blockquote:before,
blockquote:after,
q,
q:before,
q:after {
    content: "";
}


img,
video {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    border: 0;
    -ms-interpolation-mode: bicubic;
}

audio,
canvas,
video {
    display: inline;
    zoom: 1;
}
